main{
    margin-top: 45px;
}


.theams-link{
    background-color: rgba(62, 92, 118, 1);
    font-family: var(--main-title-font-family);
    padding: 5px 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: rgba(0, 8, 26, 1);
}

body.light-theme .theams-link{
    background-color: rgba(62, 92, 118, 1);
    font-family: var(--main-title-font-family);
    padding: 5px 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: rgba(0, 8, 26, 1);
}

body.dark-theme .theams-link{
    background-color: rgba(43, 47, 54, 1);
     font-family: var(--main-title-font-family);
    padding: 5px 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: rgba(230, 237, 243, 1);
}

.theams-card:not(:last-child){
    margin-bottom: 28px;
}

.theams-link p{
    margin: 0;
    width: 333px;
    height: 51px;
}
